.container {
    width: 90%;
}

h1 {
    text-align: center;
    margin: 15px 0;
}

h2 {
    font-size: 20px;
}

.btn {
    padding: 0 10px;
}

.low {
    background-color: #1c8c22;
    color: white;
}

.moderate {
    background-color: #cf893a;
    color: white;
}

.high {
    background-color: tomato;
    color: white;
}

